.collatz-app {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.click-counter,
.initial-number {
  position: absolute;
  font-size: 1rem;
  color: var(--color-fg);
  background-color: var(--color-bg);
  font-weight: bold;
  border: 1px solid var(--color-fg);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 3rem;
}

.click-counter {
  bottom: 1rem;
  right: 1rem;
}

.initial-number {
  top: 1rem;
  left: 1rem;
  width: unset;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
