:root {
  --color-bg: #112;
  --color-fg: cyan;
  --color-fg-light: #44ffff;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;

  background: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Courier New', Courier, monospace;
}

button {
  background: transparent;
  border: var(--color-fg) 1px solid;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease;
  user-select: none;

  &:hover {
    background-color: var(--color-fg-light);
    color: var(--color-bg);
  }

  &:active {
    transform: translateY(1px);
  }
}
